/* reset css */

* {
    min-width: 0;
    font: inherit;
}

*,
*::before
*::after{
    box-sizing: border-box;
}

img, video, svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;
}

h1
h2
h3 {
text-wrap: balance;
}

p {
    text-wrap: pretty;
}

  /* starts here */

  body {
    background-color: #e1bdca;
    height: 100vh;

    & main {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

& h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 550;
}

& .options {
    font-size: 1.5rem;
    font-weight: 550;

    & button {
        padding: .5rem 1.5rem;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 3px 3px 3px rgba(0,0,0,.2);
    }
    
    & button#Yes {
        background-color: rgb(62, 226, 62);
    }

    & button#No {
        background-color: rgb(237, 64, 64);
    }
}
    }  
  }

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e1bdca;
    display: none;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 2.5rem;
        text-align: center;
        font-weight: 550;   
    }
}